body.smart-style-6 {
    -webkit-font-smoothing: antialiased;
    background: #ffffff;
    font-family: "Arial";
    /* ripple effect */
    /* fixes initial animation run, without user input, on page load.
     */
    /* ripple
 */
    /* to re-trigger the animation with just CSS, we need to duplicate the keyframes
     */
    /* fixes initial animation run, without user input, on page load.
     */
    /* forms */
    /* widget */
    /* tables */
    /* pages */
}

/*  shrifts   */
.txt-title-big {
    font-family: "Arial";
    color: #42424a !important;
    font-size: 20px !important;
}

.txt-title-normal {
    font-family: "Arial";
    color: #42424a !important;
    font-size: 18px !important;
}


.txt-title-small {
    color: #42424a !important;
    font-family: "Arial";
    font-size: 16px !important;
}

.txt-normal {
    font-family: "Arial";
    color: #42424a !important;
    font-size: 14px !important;
}

.txt-small {
    font-family: "Arial";
    color: #42424a !important;
    font-size: 12px !important;
}

.smart-style-6 nav > ul > li > a > i > em {
    font-family: "Arial";
}

body.smart-style-6 .txt-color-green {
    color: #739e73 !important;
}

body.smart-style-6 .bg-color-greenDark {
    background: #5b835b !important;
}

body.smart-style-6 .txt-color-greenDark {
    color: #5b835b !important;
}

body.smart-style-6 .bg-color-greenLight {
    background: #21888f !important;
}

body.smart-style-6 .txt-color-greenLight {
    color: #21888f !important;
}

body.smart-style-6 .bg-color-purple {
    background: #9C27B0 !important;
}

body.smart-style-6 .txt-color-purple {
    color: #9C27B0 !important;
}

body.smart-style-6 .bg-color-magenta,
body.smart-style-6 .jarviswidget-color-magenta > header {
    background: #AA00FF !important;
}

body.smart-style-6 .jarviswidget-color-magenta > header {
    border-color: #AA00FF !important;
}

body.smart-style-6 .txt-color-magenta,
body.smart-style-6 nav ul li.active > a:before {
    color: #AA00FF !important;
}

body.smart-style-6 .bg-color-pink {
    background: #c24f55 !important;
}

body.smart-style-6 .txt-color-pink {
    color: #c24f55 !important;
}

body.smart-style-6 .bg-color-pinkDark {
    background: #AD1457 !important;
}

body.smart-style-6 .txt-color-pinkDark {
    color: #AD1457 !important;
}

body.smart-style-6 .bg-color-blue,
body.smart-style-6 .onoffswitch-inner:before,
body.smart-style-6 .open > .dropdown-toggle.btn-primary,
body.smart-style-6 .select2-container-multi .select2-choices .select2-search-choice,
body.smart-style-6 .bootstrap-tagsinput > span {
    background: #21888f !important;
}


body.smart-style-6 .bg-color-blueLight,
body.smart-style-6 .slider-selection,
body.smart-style-6 .noUi-connect,
body.smart-style-6 .pagination > .active > a,
body.smart-style-6 .pagination > .active > a:focus,
body.smart-style-6 .pagination > .active > a:hover,
body.smart-style-6 .pagination > .active > span,
body.smart-style-6 .pagination > .active > span:focus,
body.smart-style-6 .pagination > .active > span:hover,
body.smart-style-6 .label-primary {
    background: #21888f !important;
}

body.smart-style-6 .btn-primary {
    background: #21888f;
    border-color: #005b62 !important;
}

    body.smart-style-6 .btn-primary:active,
    body.smart-style-6 .btn-primary:hover,
    body.smart-style-6 .btn-primary:focus {
        background: #005b62 !important;
    }

    body.smart-style-6 .btn-primary.active,
    body.smart-style-6 .btn-primary:active,
    body.smart-style-6 .btn-primary:hover,
    body.smart-style-6 .open > .dropdown-toggle.btn-primary {
        border-color: #005564 !important;
    }

        body.smart-style-6 .btn-primary.active.focus,
        body.smart-style-6 .btn-primary.active:focus,
        body.smart-style-6 .btn-primary.active:hover,
        body.smart-style-6 .btn-primary:active.focus,
        body.smart-style-6 .btn-primary:active:focus,
        body.smart-style-6 .btn-primary:active:hover,
        body.smart-style-6 .open > .dropdown-toggle.btn-primary.focus,
        body.smart-style-6 .open > .dropdown-toggle.btn-primary:focus,
        body.smart-style-6 .open > .dropdown-toggle.btn-primary:hover {
            background: #005b62 !important;
            border-color: #005564 !important;
        }

.primary-active {
    background: #21888f !important;
    border-color: #005b62 !important;
    color: #ffffff !important;
}
    .primary-active:hover {
        background: #005b62 !important;
        border-color: #005564 !important;
        color: #ffffff !important;
    }

body.smart-style-6 .btn-warning {
    background: #c79121;
    border-color: #b1811d !important;
}

    body.smart-style-6 .btn-warning:active,
    body.smart-style-6 .btn-warning:hover,
    body.smart-style-6 .btn-warning:focus {
        background: #b1811d !important;
    }

    body.smart-style-6 .btn-warning.active,
    body.smart-style-6 .btn-warning:active,
    body.smart-style-6 .btn-warning:hover,
    body.smart-style-6 .open > .dropdown-toggle.btn-warning {
        border-color: #b1811d !important;
    }

        body.smart-style-6 .btn-warning.active.focus,
        body.smart-style-6 .btn-warning.active:focus,
        body.smart-style-6 .btn-warning.active:hover,
        body.smart-style-6 .btn-warning:active.focus,
        body.smart-style-6 .btn-warning:active:focus,
        body.smart-style-6 .btn-warning:active:hover,
        body.smart-style-6 .open > .dropdown-toggle.btn-warning.focus,
        body.smart-style-6 .open > .dropdown-toggle.btn-warning:focus,
        body.smart-style-6 .open > .dropdown-toggle.btn-warning:hover {
            background: #b1811d !important;
            border-color: #b1811d !important;
        }

/*body.smart-style-6 .pagination > li > a,
body.smart-style-6 .pagination > li > span {
    color: #03A9F4;
}

body.smart-style-6 .pagination > .active > a,
body.smart-style-6 .pagination > .active > a:focus,
body.smart-style-6 .pagination > .active > a:hover,
body.smart-style-6 .pagination > .active > span,
body.smart-style-6 .pagination > .active > span:focus,
body.smart-style-6 .pagination > .active > span:hover {
    color: #fff;
}

    body.smart-style-6 .pagination > .active > a,
    body.smart-style-6 .pagination > .active > a:focus,
    body.smart-style-6 .pagination > .active > a:hover,
    body.smart-style-6 .pagination > .active > span,
    body.smart-style-6 .pagination > .active > span:focus,
    body.smart-style-6 .pagination > .active > span:hover {
        border-color: #0398db;
    }*/

body.smart-style-6 .btn-danger {
    background-color: #a90329;
    border-color: #900323;
    color: #fff;
}

    body.smart-style-6 .btn-danger:active,
    body.smart-style-6 .btn-danger:hover,
    body.smart-style-6 .btn-danger:focus {
        background-color: #77021d;
    }

    body.smart-style-6 .btn-danger.active,
    body.smart-style-6 .btn-danger:active,
    body.smart-style-6 .btn-danger:hover,
    body.smart-style-6 .open > .dropdown-toggle.btn-warning {
        border-color: #77021d !important;
    }

        body.smart-style-6 .btn-danger.active.focus,
        body.smart-style-6 .btn-danger.active:focus,
        body.smart-style-6 .btn-danger.active:hover,
        body.smart-style-6 .btn-danger:active.focus,
        body.smart-style-6 .btn-danger:active:focus,
        body.smart-style-6 .btn-danger:active:hover,
        body.smart-style-6 .open > .dropdown-toggle.btn-danger.focus,
        body.smart-style-6 .open > .dropdown-toggle.btn-danger:focus,
        body.smart-style-6 .open > .dropdown-toggle.btn-danger:hover {
            background: #ea1c0d !important;
            border-color: #ea1c0d !important;
        }

body.smart-style-6 .label-danger {
    background-color: #a90329;
}

body.smart-style-6 .alert-success,
body.smart-style-6 .btn-success {
    background-color: #739e73;
    border-color: #21888f;
    color: #FFF;
}

body.smart-style-6 .label-success {
    background-color: #739e73;
}

body.smart-style-6 .btn-success:hover,
body.smart-style-6 .btn-success:active,
body.smart-style-6 .btn-success:focus {
    background: #5b835b;
    border-color: #21888f;
}

    body.smart-style-6 .btn-success.active.focus,
    body.smart-style-6 .btn-success.active:focus,
    body.smart-style-6 .btn-success.active:hover,
    body.smart-style-6 .btn-success:active.focus,
    body.smart-style-6 .btn-success:active:focus,
    body.smart-style-6 .btn-success:active:hover,
    body.smart-style-6 .open > .dropdown-toggle.btn-success.focus,
    body.smart-style-6 .open > .dropdown-toggle.btn-success:focus,
    body.smart-style-6 .open > .dropdown-toggle.btn-success:hover {
        background: #5b835b;
        border-color: #21888f;
    }

body.smart-style-6 .txt-color-blueLight {
    color: #03A9F4 !important;
}

body.smart-style-6 .bg-color-blueDark {
    background: #1565C0 !important;
}

body.smart-style-6 .alert-info,
body.smart-style-6 .btn-info {
    background-color: #B3E5FC;
    border-color: #03A9F4;
    color: #01579B;
}

body.smart-style-6 .label-info {
    background-color: #B3E5FC;
}

body.smart-style-6 .btn-info:hover,
body.smart-style-6 .btn-info:active,
body.smart-style-6 .btn-info:focus,
body.smart-style-6 .btn-info.active,
body.smart-style-6 .btn-info:active,
body.smart-style-6 .btn-info:hover,
body.smart-style-6 .open > .dropdown-toggle.btn-info {
    background: #82d4fa;
    border-color: #03A9F4;
}

body.smart-style-6 .slider-info + .slider-track > .slider-selection {
    background-color: #B3E5FC;
}

body.smart-style-6 .txt-color-blueDark {
    color: #1565C0 !important;
}

body.smart-style-6 .bg-color-teal {
    background: #009688 !important;
}

body.smart-style-6 .txt-color-teal {
    color: #009688 !important;
}

body.smart-style-6 .bg-color-yellow,
body.smart-style-6 .slider-warning + .slider-track > .slider-selection {
    background: #FFEB3B !important;
}

body.smart-style-6 .alert-warning {
    background-color: #FFEB3B;
    border-color: #F9A825;
    color: #5A4E3F;
}

body.smart-style-6 .label-warning {
    background-color: #FFEB3B;
    color: #333;
}

body.smart-style-6 .txt-color-yellow {
    color: #FFEB3B !important;
}

body.smart-style-6 .bg-color-orange {
    background: #c79121 !important;
}

body.smart-style-6 .txt-color-orange {
    color: #c79121 !important;
}

body.smart-style-6 .bg-color-orangeDark {
    background: #E65100 !important;
}

body.smart-style-6 .txt-color-orangeDark {
    color: #E65100 !important;
}

body.smart-style-6 .bg-color-red,
body.smart-style-6 .alert-danger,
body.smart-style-6 .slider-danger + .slider-track > .slider-selection {
    background: #8d1d2c;
}

body.smart-style-6 .txt-color-red {
    color: #8d1d2c;
}

body.smart-style-6 .bg-color-redLight {
    background: #8d1d2c;
}

body.smart-style-6 .alert-danger {
    border-color: #B71C1C;
}

body.smart-style-6 .txt-color-redLight {
    color: #FF5252 !important;
}

body.smart-style-6 .text-primary {
    color: #21888f !important;
}

body.smart-style-6 .text-success {
    color: #739e73 !important;
}

body.smart-style-6 .text-danger {
    color: #a90329 !important;
}

body.smart-style-6 .text-warning {
    color: #c79121 !important;
}

body.smart-style-6 .text-info {
    color: #57889c !important;
}

body.smart-style-6 .ajax-notifications {
    background: #D8F4FF;
}

    body.smart-style-6 .ajax-notifications .fa-4x.fa-border {
        border-color: #21888f;
        color: #21888f;
    }

body.smart-style-6 aside,
body.smart-style-6 nav ul ul {
    background: #fff;
}

body.smart-style-6 .nav-tabs > li.active > a {
    -moz-box-shadow: 0 2px 0 #c24f55;
    -webkit-box-shadow: 0 2px 0 #c24f55;
    box-shadow: 0 2px 0 #c24f55;
    z-index: 10;
}

body.smart-style-6 #header,
body.smart-style-6 .dropdown-menu > .active > a,
body.smart-style-6 .dropdown-menu > .active > a:focus,
body.smart-style-6 .dropdown-menu > .active > a:hover,
body.smart-style-6 .dropdown-menu > li > a:focus,
body.smart-style-6 .dropdown-menu > li > a:hover {
    background: #21888f;
}

body.smart-style-6 #content {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}

    body.smart-style-6 #content > .row {
        margin-bottom: 20px;
    }

body.smart-style-6 .page-title {
    font-size: 19px;
    letter-spacing: normal;
    margin-bottom: 0px;
    margin-top: 10px;
    text-transform: uppercase;
}

    body.smart-style-6 .page-title > .fa {
        display: none;
    }

body.smart-style-6 .page-footer {
    background: #455A64;
}

body.smart-style-6 #updating-chart.txt-color-blue {
    color: #4d7686 !important;
}

body.smart-style-6 .ribbon-button-alignment {
    display: none;
}

body.smart-style-6 #ribbon {
    background: rgba(255, 255, 255, 0.4);
}

body.smart-style-6 .btn-header > :first-child > a,
body.smart-style-6 #logo-group span#activity {
    background: none;
    border: none;
    border-radius: 50%;
    color: #fff;
}

body.smart-style-6 #project-selector,
body.smart-style-6 .project-selector,
#project-context body.smart-style-6 > :first-child,
body.smart-style-6 .project-context > :first-child,
body.smart-style-6 .header-dropdown-list > li > .dropdown-toggle {
    color: #fff !important;
    text-shadow: none;
}

body.smart-style-6 .open > .dropdown-menu {
    -moz-animation-duration: .4s;
    -moz-animation-fill-mode: none;
    -moz-animation-name: none;
    -o-animation-duration: .4s;
    -o-animation-fill-mode: none;
    -o-animation-name: none;
    -webkit-animation-duration: .4s;
    -webkit-animation-fill-mode: none;
    -webkit-animation-name: none;
    animation-duration: .4s;
    animation-fill-mode: none;
    animation-name: none;
}

body.smart-style-6 .dropdown .dropdown-menu.pull-right,
body.smart-style-6 .bootstrap-select .dropdown-menu.pull-right,
body.smart-style-6 .btn-group .dropdown-menu.pull-right,
body.smart-style-6 .date-picker .dropdown-menu.pull-right,
body.smart-style-6 .dropdown .dropdown-menu.dropdown-menu-right,
body.smart-style-6 .bootstrap-select .dropdown-menu.dropdown-menu-right,
body.smart-style-6 .btn-group .dropdown-menu.dropdown-menu-right,
body.smart-style-6 .date-picker .dropdown-menu.dropdown-menu-right,
body.smart-style-6 .dropdown-menu.pull-right {
    -moz-transform-origin: top right !important;
    -ms-transform-origin: top right !important;
    -webkit-transform-origin: top right !important;
    transform-origin: top right !important;
}

body.smart-style-6 .dropdown .dropdown-menu.pull-left,
body.smart-style-6 .bootstrap-select .dropdown-menu.pull-left,
body.smart-style-6 .btn-group .dropdown-menu.pull-left,
body.smart-style-6 .dropdown-menu.pull-left,
body.smart-style-6 .date-picker .dropdown-menu.pull-left,
body.smart-style-6 .dropdown .dropdown-menu.dropdown-menu-left,
body.smart-style-6 .bootstrap-select .dropdown-menu.dropdown-menu-left,
body.smart-style-6 .btn-group .dropdown-menu.dropdown-menu-left,
body.smart-style-6 .date-picker .dropdown-menu.dropdown-menu-left,
body.smart-style-6 .project-selector + .dropdown-menu {
    -moz-transform-origin: top left !important;
    -ms-transform-origin: top left !important;
    -webkit-transform-origin: top left !important;
    transform-origin: top left !important;
}

body.smart-style-6 .dropdown,
body.smart-style-6 .dropdown-menu,
body.smart-style-6 .btn-group .dropdown-menu,
body.smart-style-6 .date-picker .dropdown-menu {

}
.dropdown-animate {
    -moz-backface-visibility: hidden;
    -moz-transform-origin: top left;
    -ms-transform: scale(0);
    -ms-transform-origin: top left;
    -o-transform: scale(0);
    -o-transition: all;
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(0);
    -webkit-transform-origin: top left;
    -webkit-transition: all;
    -webkit-transition-duration: 250ms;
    backface-visibility: hidden;
    display: block;
    filter: alpha(opacity=0);
    opacity: 0;
    transform: scale(0);
    transform-origin: top left;
    transition: all;
    transition-duration: 250ms;
}

body.smart-style-6 .project-selector + .dropdown-menu {
    margin-top: -27px;
}

body.smart-style-6 .header-dropdown-list .dropdown-menu {
    margin-top: -20px;
}

body.smart-style-6 .dropdown.open .dropdown-menu,
body.smart-style-6 .dropup.open .dropdown-menu,
body.smart-style-6 .bootstrap-select.open .dropdown-menu,
body.smart-style-6 .btn-group.open .dropdown-menu,
body.smart-style-6 .open > .dropdown-menu {
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    filter: alpha(opacity=100);
    opacity: 1;
    transform: scale(1);
}

body.smart-style-6 .login-info {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background: url("../img/cover.png") no-repeat center center;
    background-size: cover;
    border: 0px;
    height: 120px;
    margin-top: -1px !important;
}

    body.smart-style-6 .login-info > span {
        border: 0px;
        height: 119px;
        padding: 0px;
    }

    body.smart-style-6 .login-info a {
        display: block;
        margin: 0;
        padding: 10px;
    }

        body.smart-style-6 .login-info a span {
            background: rgba(0, 0, 0, 0.2);
            color: #fff;
            display: block;
            margin-left: -10px;
            margin-top: 22px;
            max-width: 100%;
            padding: 5px 10px;
            width: 100%;
        }

    body.smart-style-6 .login-info img {
        border: 3px solid rgba(0, 0, 0, 0.14);
        border-radius: 50%;
        box-sizing: content-box;
        width: 50px;
    }

body.smart-style-6 #logo img {
    display: none;
}

body.smart-style-6 #activity b.badge {
    padding: 4px;
}

body.smart-style-6 #logo-group > span#logo:before {
    color: #fff;
    content: "SmartAdmin";
    display: block;
    font-size: 17px;
    font-weight: 300;
    margin-top: 1px;
}

body.smart-style-6 .header-search > input[type=text] {
    background: transparent;
    border-bottom-color: #fff;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    color: #fff;
    padding: 0;
}

body.smart-style-6 .header-search > button {
    color: #fff;
}

body.smart-style-6 .header-search input[type=text]::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

body.smart-style-6 .header-search input[type=text]:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.7);
}

body.smart-style-6 .header-search input[type=text]::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.7);
}

body.smart-style-6 .header-search input[type=text]:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

body.smart-style-6 nav ul li a,
body.smart-style-6 nav ul li.open > a,
body.smart-style-6 nav ul li.open > a b {
    color: #8d1d2c !important;
}

body.smart-style-6 nav ul .active body.smart-style-6 nav ul > a,
nav ul li.open body.smart-style-6 nav ul > a {
    color: #3C3C3C !important;
}

body.smart-style-6 nav ul li a:hover,
ul li body.smart-style-6 nav ul > a:hover {
    background: none;
}

body.smart-style-6 nav ul li a {
    font-size: 13px;
}

body.smart-style-6 nav > ul > li > a {
    font-weight: 400;
    padding: 14px 10px 14px 11px;
    text-transform: uppercase;
}

    body.smart-style-6 nav > ul > li > a b {
        margin-top: 6px;
    }

body.smart-style-6 nav ul li a:active {
    background-color: #c24f55 !important;
}

body.smart-style-6 .login-info a span + i {
    display: none;
}

body.smart-style-6 #ribbon .breadcrumb li:last-child,
#ribbon .breadcrumb body.smart-style-6 > .active,
body.smart-style-6 #ribbon .breadcrumb,
body.smart-style-6 #ribbon .breadcrumb a,
.breadcrumb body.smart-style-6 > li + li:before {
    color: #374850 !important;
}

body.smart-style-6 .ajax-dropdown,
#speech-btn body.smart-style-6 > :first-child body.smart-style-6 > a + .popover {
    -moz-box-shadow: 0 0px 30px #8d1d2c;
    -webkit-box-shadow: 0 0px 30px #8d1d2c;
    box-shadow: 0 0px 30px #8d1d2c;
}

body.smart-style-6 nav > ul > li > ul::before,
body.smart-style-6 nav > ul ul li::before {
    border: none;
}

body.smart-style-6 .minifyme {
    background: #21888f;
    border-bottom: 1px solid #3D6A8A;
    border-radius: 50%;
    color: #FFFFFF;
    padding: 1px 3px;
    position: absolute;
    right: -12px;
    width: 29px;
    z-index: 999;
}

body.smart-style-6 nav li a {
    overflow: hidden;
    position: relative;
}

    body.smart-style-6 nav li a:after {
        background: #455A64;
        border-radius: 100%;
        content: '';
        display: block;
        height: 300px;
        left: 50%;
        margin-left: -120px;
        margin-top: -150px;
        opacity: .3;
        position: absolute;
        top: 50%;
        transform: scale(0);
        width: 300px;
    }

@keyframes ripple {
    0% {
        transform: scale(0);
    }

    20% {
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

body.smart-style-6 nav li a:not(:active):after {
    animation: ripple 1.5s ease-in-out;
}

body.smart-style-6 nav li a:after {
    visibility: hidden;
}

body.smart-style-6 nav li a:focus:after {
    visibility: visible;
}

body.smart-style-6 nav li a:active {
    background-color: transparent !important;
}

body.smart-style-6 .checkbox label > input[type=checkbox]:after {
    background: #3f51b5;
    border-radius: 100%;
    content: '';
    display: block;
    height: 48px;
    left: 0;
    margin-left: -18px;
    margin-top: -18px;
    opacity: .6;
    position: absolute;
    top: 0;
    transform: scale(0);
    width: 48px;
}

@keyframes rippleDuplicate {
    0% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

body.smart-style-6 .checkbox label > input[type=checkbox]:focus:after {
    animation: rippleDuplicate 0.5s ease-out;
}

body.smart-style-6 .checkbox label > input[type=checkbox]:checked {
    animation-name: rippleDuplicate;
}

body.smart-style-6 .checkbox label > input[type=checkbox]:focus:after {
    visibility: hidden;
}

body.smart-style-6 .checkbox label > input[type=checkbox]:focus:after {
    visibility: visible;
}

body.smart-style-6 .smart-form .checkbox input:focus + i,
body.smart-style-6 .smart-form .input input:focus,
body.smart-style-6 .smart-form .radio input:focus + i,
body.smart-style-6 .smart-form .select select:focus,
body.smart-style-6 .smart-form .textarea textarea:focus,
body.smart-style-6 .smart-form .toggle input:focus + i {
    border-color: #21888f;
}

body.smart-style-6 .smart-form .rating input:checked ~ label,
body.smart-style-6 .smart-form .checkbox input + i:after {
    color: #21888f;
}

body.smart-style-6 .form-control[disabled],
body.smart-style-6 .form-control[readonly],
body.smart-style-6 .fieldset[disabled] .form-control,
body.smart-style-6 .smart-form .select select,
body.smart-style-6 .smart-form .textarea textarea {
    border-bottom: 1px dashed #E0E0E0;
}

body.smart-style-6 .form-control-feedback {
    height: auto;
    width: auto;
}

body.smart-style-6 .smart-form .checkbox input:checked + i,
body.smart-style-6 .smart-form .radio input:checked + i,
body.smart-style-6 .smart-form .toggle input:checked + i {
    border-color: transparent;
}

body.smart-style-6 .form-control,
body.smart-style-6 .smart-form .icon-append,
body.smart-style-6 .smart-form .icon-prepend,
body.smart-style-6 .smart-form .input input,
body.smart-style-6 .smart-form .select select,
body.smart-style-6 .smart-form .textarea textarea {
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
}

body.smart-style-6 .form-control,
body.smart-style-6 .smart-form .icon-append,
body.smart-style-6 .smart-form .icon-prepend,
body.smart-style-6 .smart-form .select select,
body.smart-style-6 .smart-form .textarea textarea {
    padding-left: 0px;
}

    body.smart-style-6 .form-control:not(.ui-autocomplete-loading) {
        background: transparent;
    }

body.smart-style-6 .input-icon-left input[type="text"].form-control,
body.smart-style-6 .icon-addon > input[type="text"] {
    padding-left: 32px;
}

body.smart-style-6 input[type=checkbox],
body.smart-style-6 input[type=radio] {
    line-height: normal;
    margin-top: 2px;
}

body.smart-style-6 .dataTables_filter > label:focus .input-group-addon {
    border-bottom-color: #21888f;
}

body.smart-style-6 .dataTables_filter .input-group-addon {
    background: transparent;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    border-top-width: 0px !important;
}

    body.smart-style-6 .dataTables_filter .input-group-addon + .form-control {
        background: transparent;
    }

body.smart-style-6 .input-group-addon:last-child,
body.smart-style-6 .input-group-addon:first-child {
    border: 1px solid inherit;
}

body.smart-style-6 .input-group .form-control:first-child {
    border-right: 0px !important;
}

body.smart-style-6 .input-group-addon + .form-control[type="text"] {
    padding-left: 10px;
    padding-right: 10px;
}

body.smart-style-6 .ui-sortable .jarviswidget-sortable > header {
    box-shadow: none !important;
}

body.smart-style-6 .jarviswidget > header {
    border-bottom: 0px;
}

body.smart-style-6 .widget-toolbar,
body.smart-style-6 .jarviswidget-ctrls .button-icon {
    border: 0px;
}

    body.smart-style-6 .widget-toolbar > .color-box {
        border-radius: 30%;
        box-shadow: 0 0 1px 1px rgba(56, 56, 56, 0.3);
        outline: none !important;
    }

body.smart-style-6 .color-box,
body.smart-style-6 .color-select li span {
    border-radius: 30%;
}

body.smart-style-6 .jarviswidget header .nav-tabs > li.active > a,
body.smart-style-6 .jarviswidget header .nav-tabs > li.active > a:focus,
body.smart-style-6 .jarviswidget header .nav-tabs > li.active > a:hover {
    border: 0px !important;
}

body.smart-style-6 .jarviswidget-sortable.ui-sortable-helper {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

body.smart-style-6 .jarviswidget-placeholder {
    animation: border-dance 4s infinite linear;
    background: linear-gradient(90deg, #0000ff 50%, transparent 50%), linear-gradient(90deg, #0000ff 50%, transparent 50%), linear-gradient(0deg, #0000ff 50%, transparent 50%), linear-gradient(0deg, #0000ff 50%, transparent 50%);
    background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0%;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 10px 2px, 10px 2px, 2px 10px, 2px 10px;
    height: 100%;
    padding: 10px;
    width: 100%;
}

@keyframes border-dance {
    0% {
        background-position: 0px 0px, 300px 116px, 0px 150px, 216px 0px;
    }

    100% {
        background-position: 300px 0px, 0px 116px, 0px 0px, 216px 150px;
    }
}

body.smart-style-6 .MessageBoxContainer {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    color: #333;
    margin: 0 auto;
    max-width: 600px;
}

body.smart-style-6 .table > tbody > tr > td,
body.smart-style-6 .table > tbody > tr > th,
body.smart-style-6 .table > tfoot > tr > td,
body.smart-style-6 .table > tfoot > tr > th,
body.smart-style-6 .table > thead > tr > td,
body.smart-style-6 .table > thead > tr > th {
    padding: 16px 10px;
}

body.smart-style-6 .dt-toolbar {
    padding: 14px 20px 11px;
}

body.smart-style-6 .inbox-nav-bar,
body.smart-style-6 .inbox-body .table-wrap,
body.smart-style-6 .inbox-side-bar,
body.smart-style-6 .inbox-info-bar .form-group input,
body.smart-style-6 .inbox-info-bar .select2-container-multi .select2-choices,
body.smart-style-6 .inbox-compose-footer {
    background: #ffffff;
}

body.smart-style-6 .inbox-compose-footer {
    border-bottom-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

body.smart-style-6 .inbox-body {
    box-shadow: -11px 12px 23px rgba(0, 0, 0, 0.1);
}

body.smart-style-6 .inbox-download,
body.smart-style-6 .inbox-message {
    border-bottom: 0px;
}

body.smart-style-6 .inbox-info-bar .form-group input,
body.smart-style-6 .inbox-info-bar .select2-container-multi .select2-choices {
    border-color: transparent !important;
}

body.smart-style-6 #inbox-content {
    margin-bottom: 30px !important;
}

body.smart-style-6.desktop-detected .inbox-download,
body.smart-style-6.desktop-detected .inbox-compose-footer {
    padding-bottom: 56px;
}

body.smart-style-6 ::-webkit-scrollbar {
    background-color: transparent;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    width: 10px;
}

    body.smart-style-6 ::-webkit-scrollbar:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }

body.smart-style-6 ::-webkit-scrollbar-thumb:vertical {
    background: rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 100px;
    min-height: 10px;
}

body.smart-style-6 .inbox-message {
    background: #fff;
}

/*body.smart-style-6 .note-editor .note-editable {
    background-color: rgba(33, 150, 243, 0.15);
}*/

    body.smart-style-6 .note-editor .note-editable:focus {
        background: #fff;
    }

body.smart-style-6 .inbox-nav-bar {
    height: auto !important;
}

body.smart-style-6 .superbox-show {
    background-color: #37474F;
}

body.smart-style-6 .superbox-list.active:before {
    color: #37474F;
}

body.smart-style-6 .superbox-imageinfo span {
    color: rgba(255, 255, 255, 0.5);
}

body.smart-style-6 #sparks {
    display: none;
}

body.smart-style-6 .page-footer .txt-color-blueLight {
    color: #ffffff !important;
}

body.smart-style-6 .input-group .form-control:first-child {
    border-right: 1px solid #ccc;
}

body.smart-style-6.minified .login-info {
    height: 55px;
}

    body.smart-style-6.minified .login-info img {
        width: 34px;
    }

    body.smart-style-6.minified .login-info a {
        padding: 10px 0px;
    }

        body.smart-style-6.minified .login-info a span {
            display: none;
        }

body.smart-style-6.minified .minifyme {
    border: 0px;
    border-radius: 0%;
    left: 0px;
    width: 45px;
}

body.smart-style-6.minified nav > ul > li > a > .menu-item-parent,
body.smart-style-6.minified nav > ul > li > ul {
    left: 45px;
}

body.smart-style-6.minified nav > ul > li > a > .menu-item-parent {
    padding-top: 4px;
    top: 0px;
}

body.smart-style-6.minified nav > ul > li ul li {
    background: #ffffff;
    overflow: hidden;
}

body.smart-style-6.minified nav li a {
    border: 0px;
    border-left: 1px solid #C1C1C1;
    overflow: visible;
}

body.smart-style-6.minified nav > ul > li {
    border-bottom: 0px !important;
    border-top: 0px !important;
}

    body.smart-style-6.minified nav > ul > li > ul {
        background: #f5f5f5;
        border: 0px;
        border-left: 1px solid #CACACA;
        padding-top: 0px;
    }

body.smart-style-6.menu-on-top aside#left-panel nav > ul > li {
    border: 0px;
}

body.smart-style-6.menu-on-top aside#left-panel {
    border: 0px;
}

    body.smart-style-6.menu-on-top aside#left-panel nav > ul > li:hover {
        background: #ffffff;
    }

        body.smart-style-6.menu-on-top nav ul ul li a:hover,
        body.smart-style-6.menu-on-top nav ul ul li:hover > a,
        body.smart-style-6.menu-on-top nav ul ul ul li a:hover,
        body.smart-style-6.menu-on-top nav ul li a:active,
        body.smart-style-6.menu-on-top nav ul > a,
        body.smart-style-6.menu-on-top aside#left-panel nav > ul > li:hover > a {
            background-color: white;
            color: #21888f !important;
            border-left: none !important;
            border-right: none !important;
            font-weight: bold !important;
        }

.dropdownmenu-red-text > li > a {
    color: #8d1d2c;
}

.choise-box {
    height: 115px;
    overflow: auto;
    border: 1px solid #BDBDBD;
}

.choise-box-el-padding {
    padding-top: 10px;
}

@media (max-width: 979px) and (min-width: 768px) {
    body .smart-style-6 #hide-menu i {
        color: #ffffff;
    }
}

@media (max-width: 767px) {
    body.smart-style-6 #content {
        margin-left: 0px;
        margin-right: 0px;
    }

    body.smart-style-6 #hide-menu > :first-child > a {
        width: 40px !important;
    }

    body.smart-style-6 #hide-menu i {
        color: #ffffff;
    }
}

@media only screen and (max-width: 479px) and (min-width: 320px) {
    body.smart-style-6 #hide-menu i {
        color: #ffffff;
    }
}
